body {
    padding: 0;
    margin: 0;
  }
  
  
  .leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  }
  
  .leaflet-cluster-spider-leg {
    /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
    -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
    -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
    -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
    transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
  }

  .marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
    }
  .marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
    }
  
  .marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
    }
  .marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
    }
  
  .marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
    }
  .marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
    }
  
    /* IE 6-8 fallback colors */
  .leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
    }
  .leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
    }
  
  .leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
    }
  .leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
    }
  
  .leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
    }
  .leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
  }
  
  .marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    }
  .marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
  
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
  .marker-cluster span {
    line-height: 30px;
    }
  
    #map-container{

      padding-top:120px;
      padding-left:10px;

  }

  #map {
  position: relative;
  margin:0;
  padding:0; 
  border: 1px solid black;
  border-radius: 8px;
  height: 400px;
  width: 100%
  }
  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }
  .legend {
    line-height: 18px;
    color: #555;
  }
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
  .jumbotron {
    text-align: center;
    background-image: url('https://t4.ftcdn.net/jpg/01/25/97/83/240_F_125978375_bGrZ5aSPsmt9cCCGG4q6pvYoEHlqfBa6.jpg');
    background-size: cover;


  /* carousel section */
  .carousel {
    position: relative;
    height: 600px;
    width: 80%
    margin: 0 auto;
  }

  .carousel_button{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
  }
  
  .carousel_button--left{
    left: -40px;
  }

  .carousel_button--right{
    right: -40px;
  }

  .carousel_button img{
    width: 10px;
  }

  .car_img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .carousel_container{
    background: gray;
    padding: 10px;
    height: 100%;
  }

  .carousel_track{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .mid_hover {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .car_img {
    opacity: 0.3;
  }
  
  .container:hover .mid_hover {
    opacity: 1;
  }
  
  .hover_text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }